<div>
<h1>Groups This Week</h1>
<h2>Indicate which times you are available for.</h2>
<style type="text/css">

	td{
		min-width: 225px;
		height: 30px;
		display: inline-flex;
	}
	.button_td
	{
		justify-content: center;
	}
</style>
<table>
  <tr ng-repeat="day in days">
  	<td>{{day}}</td>
    <td><span>{{times[$index]}}</span></td>
    <td class="button_td"><button class="button" ng-click="availableButton($index)" id="availableButton{{$index}}">I'm Available</button></td>
  </tr>
</table>
<table>
<tr>
<td></td>
<td></td>
<td class="button_td"><button class="button" ng-click="confirmAvailability()">Confirm</button></td>
</tr>
<table>
</div>